
/* You are welcome to delete these styles or modify them in your own stylesheet */

  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
  }

  .author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
  }

  .author-info a {
    text-decoration: none;
  } */

  .sora-body {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: .875rem;
}

.sora-tag {
    font-weight: 500;
    font-size: .625rem;
}

.sora-title {
    font-weight: 500;
    font-size: 1.125rem;
}

.sora-small-txt {
    font-weight: 400;
    font-size: .75rem;
}


body {
    height: 100vh;
    background-color: #FAFAF9;
}


/* .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
} */

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    height: 100%;
}

.card {
    /* margin: 20px auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* padding: 0 20px; */
    border: 1px solid;
    width: 370px;
    /* height: 380px; */
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
    border-radius: 10px;
}

.card-body {
    padding: 20px 20px 0;
}

.card-footer {
    padding: 0 20px;
}

.card img {
    /* margin: 20px 20px 0; */
    border-radius: 10px;
    /* width: 336px; */

    /*  idk if there's another way to do this for regular images; object-fit and width 
        don't really seem to do what I need or work at all really
            - setting align-self to stretch seems to solve this issue using flexbox */
    /* width: -webkit-fill-available; */
    align-self: stretch;
    /* object-fit: cover; */
}

.card-tags {
    /* display: flex;
    justify-content: center; */
    /* margin: 0 20px; */
}

.design-tag {
    color: #7C19EE;
    background-color: #F2EAFD;
    width: 70px;
    text-align: center;
    border-radius: 10px;
    padding: 3px 0;
    font-size: .625rem;
}

.card-info {
    /* padding: 0 20px; */
}

hr {
    background-color: #D2D5DA;
    height: 1px;
    border: none;
    width: 100%;
}

.card-author {
    /* padding: 0 20px; */
}